@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body, input, button {
    color: var(--text);
    font-family: 'Hanken Grotesk', sans-serif;
}

p {
    line-height: 175%;
}

body :is(h1, h2, h3, h4, h5){
    line-height: 135%;
}

.secondary {
    color: var(--text-secondary);
}

.large {
    font-size: 1.25rem;
}