@use "../../styles/partials/abstracts" as*;

.home {
    display: flex;
    padding-top: 0;

    &__highlight{
        display: inherit;
        flex: 1 1 auto;
        gap: 1rem;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
        }
        &__secondary {
            display: inherit;
            flex-direction: column;
            flex: 1 1 auto;
            gap: 1rem;
        
        &__grid{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
        }
        }

        & .icon-skill{
            height: 4rem;
            width: 4rem;
            border-radius: 1rem;
            transition: all 0.3s ease;
            filter: contrast(130%);
            &:hover {
                opacity: 0.65;
            }
            &:active {
                outline: 2px solid lightblue;
                outline-offset: 2px;
                filter: contrast(130%) grayscale(0.35) brightness(1.2) ;
                opacity: 1;
            }
        }
    }

}