@use "../../styles/partials/abstracts" as*;

nav, .nav {
    display: flex;
    border-radius: 1.5rem;
    background-color: var(--container);
    transition: all 0.3s ease;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;

    @include tablet{
        height: 5.625rem;
        padding: 1.5rem;
    }

    &__logo {
        &__icon {
            height: 2rem;
            @include tablet {
                height: 2.5rem;
            }
        }
    }

    &__links {
        display: none;

        @include tablet {
            display: inherit;
        }
        &__list {
            display: inherit;
            list-style: none;
            gap: 0.5rem;
        }
    }

    &:hover{
        -webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.4); 
        box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.4);
    }
}